
<!--  -->
<!--  -->
{% extends "basedashboard.html" %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.3.1/css/buttons.dataTables.min.css">
{% endblock %}

{% block content %}

<div class="grid grid-cols-6">
    <div class=" h-full hidden md:block">
        <!-- <SideBar3 /> -->
        <div class="shadow sticky top-[3.5rem]  pt-5">
            <div class="flex  items-center ml-3">
                <div class="ml-2"><img src="{{ url_for('static', filename='images/list.png') }}" width="24" alt="">
                </div>
                <div class="  ml-4 font-bold text-2xl md:text-xl text-green-600">Menu</div>
            </div>
            <div class="border shadow-xl rounded-lg m-4 h-[37rem]">
                <div class=" gap-4 flex flex-col items-center mt-3 p-2 ">

                    <a href="{{url_for('dashboards.dashboard')}}"> <button
                        class=" md:text-[10px]  lg:text-[16px] flex items-center  justify-center  transition ease-in-out delay-150  hover:-translate-y-1 hover:scale-110 duration-100  
                    font-semibold hover:text-black hover:bg-gray-100  border text-gray-700 bg-gray-100     lg:px-4 lg:p-3 p-1  rounded-lg ">
                        <span class="mr-3 "><img src="{{ url_for('static', filename='images/webpage.png') }}" width="25"
                                alt=""></span>
                        Dashboard
                    </button></a>




                </div>
            </div>
        </div>
        <!-- <SideBar3 /> -->
    </div>
    <div class="col-span-6 m-5 md:col-span-5 ">
        <!--  -->

        <div id="sidebar"
            class="flex-col z-10 mt-14 md:hidden flex sidebar bg-white text-white w-64 h-full fixed top-0 left-0 transform -translate-x-full transition duration-300 ease-in-out">
            <button id="closeSidebarButton"
                class="ml-[14rem] mt-2 bg-red-500 hover:bg-red-700 h-6 text-white font-bold w-5  rounded">
                X
            </button>
            <div>
                <div class="       shadow  pt-5">
                    <div class="flex  items-center ml-3">
                        <div class="ml-2"><img src="/images/list.png" width="24" alt=""></div>
                        <div class="  ml-4 font-bold text-2xl  text-green-600">Menu</div>

                    </div>
                    <div class="border shadow-xl rounded-lg m-4 h-[37rem]">
                        <div class=" gap-4 flex flex-col  items-center  mt-3  p-2 ">

                            <a href="{{url_for('dashboards.dashboard')}}"> <button
                                class=" md:text-[10px]  lg:text-[16px] flex items-center  justify-center  transition ease-in-out delay-150  hover:-translate-y-1 hover:scale-110 duration-100  
                            font-semibold hover:text-black hover:bg-gray-100  border text-gray-700 bg-gray-100     lg:px-4 lg:p-3 p-1  rounded-lg ">
                                <span class="mr-3 "><img src="{{ url_for('static', filename='images/webpage.png') }}" width="25"
                                        alt=""></span>
                                Dashboard
                            </button></a>




                        </div>
                    </div>
                </div>
            </div>


        </div>

        <!--  -->
        {% if message %}
        <center class="text-red-400">{{ message }}</center>
        {% endif %}
        <div class="w-full  bg-white p-6 rounded-lg shadow-lg">

            <!--  -->
            <div class="flex gap-4 mb-4 -ml-4 md:ml-0">


                <button id="openSidebarButton"
                    class="md:hidden justify-center items-center flex hover:bg-gray-200 text-white font-bold py-1 px-2 rounded">
                    <div class=" pl-2 hover:w-26"><img src="{{ url_for('static', filename='images/more.png') }}"
                            width="28" alt=""></div>
                </button>
                <!--  -->
                <div class="flex gap-4 mb-4 -ml-4 md:ml-0">


                    <button id="openSidebarButton"
                        class="md:hidden justify-center items-center flex hover:bg-gray-200 text-white font-bold py-1 px-2 rounded">
                        <!-- <div class=" pl-2 hover:w-26"><img src="{{ url_for('static', filename='images/user.png') }}"
                                width="28" alt=""></div> -->
                    </button>
                    <h2 class="text-2xl mt-2 font-semibold ">Form view</h2>
                </div>
                <!--  -->
            </div>
           
            <!-- DataTable -->
            <table id="data-table" class="display border-gray-500 border">
                <thead>
                    <tr>
                        <th>Field Name</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody class="border border-gray-500">
                    <tr><td>Lab Center</td><td>{{ labcenter.value }}</td></tr>
                    <tr><td>Date</td><td>{{ form.date }}</td></tr>
                    <tr><td>Diagnostic Test</td><td>{{ diagnostictest.value }}</td></tr>
                    <tr><td>Suspected Problem</td><td>{{ suspectedproblem.value }}</td></tr>
                    <tr><td>Host</td><td>{{ host.value }}</td></tr>
                    <tr><td>Field Reference ID</td><td>{{ form.field_reference_id }}</td></tr>
                    <tr><td>Sample Source</td><td>{{ form.sample_source }}</td></tr>
                    


                    <tr><td>Sample Materials Submitted</td><td>{{ samplematerialssubmitted.value }}</td></tr>
                    <tr><td>Sample Collected Date</td><td>{{ form.sample_collected_date }}</td></tr>
                    <tr><td>Physical Sample Received Date</td><td>{{ form.physical_sample_received_date }}</td></tr>
                    <tr><td>Zip Code</td><td>{{ form.zip_code }}</td></tr>
                    <tr><td>Altitude</td><td>{{ form.altitude}}</td></tr>
                    <tr><td>Latitude</td><td>{{ form.latitude }}</td></tr>
                    <tr><td>Longitude</td><td>{{ form.longitude }}</td></tr>
                    <tr><td>District</td><td>{{ district.value }}</td></tr>
                    <tr><td>Province/State</td><td>{{ provincestate.value }}</td></tr>
                    

                    <tr><td>Diagnosis Name</td><td>{{ diagnosisname.value }}</td></tr>
                    <tr><td>Genus</td><td>{{ genus.value }}</td></tr>
                    <tr><td>Genus Species</td><td>{{ genusspecies.value }}</td></tr>
                    <tr><td>Genus SubSpecies</td><td>{{ genussubspecies.value }}</td></tr>
                    <tr><td>Genus Lab Methods</td><td>{{ genuslabmethods.value }}</td></tr>
                    <tr><td>Nematode</td><td>{{ nematode.value }}</td></tr>
                    <tr><td>Nematode Species</td><td>{{ nematodespecies.value }}</td></tr>
                    <tr><td>Nematode SubSpecies</td><td>{{ nematodesubspecies.value }}</td></tr>
                    <tr><td>Nematode Extraction</td><td>{{ nematodeextraction.value }}</td></tr>
                    <tr><td>Insect Name</td><td>{{ form.insect_name }}</td></tr>
                    <tr><td>Causing damage Insect</td><td>{{ form.causing_damage_insect }}</td></tr>
                    <tr><td>Insect Notes</td><td>{{ form.insect_notes }}</td></tr>
                    

                    <tr><td>Disease Name</td><td>{{ form.disease_name }}</td></tr>
                    <tr><td>Causing damage Disease</td><td>{{ form.causing_damage_disease }}</td></tr>
                    <tr><td>Disease Notes</td><td>{{ form.disease_notes }}</td></tr>
                   

                    <tr><td>Weeds Name</td><td>{{ form.weeds_name }}</td></tr>
                    <tr><td>Causing damage Weeds</td><td>{{ form.causing_damage_weeds }}</td></tr>
                    <tr><td>Weeds Notes</td><td>{{ form.weeds_notes }}</td></tr>
                   

                    <tr><td>Plant Population</td><td>{{ form.plant_population }}</td></tr>
                    <tr><td>Goods Plants</td><td>{{ form.good_plants }}</td></tr>
                    <tr><td>Remarks</td><td>{{ form.signature }}</td></tr>
                  





                   
                </tbody>
            </table>
        </div>
        
    </div>
</div>
 <!-- jQuery and DataTables Scripts -->
 <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
 <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.3.1/js/dataTables.buttons.min.js"></script>
 <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
 <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.3.1/js/buttons.html5.min.js"></script>
 <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
 <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const openSidebarButton = document.getElementById("openSidebarButton");
        const closeSidebarButton = document.getElementById("closeSidebarButton");
        const sidebar = document.getElementById("sidebar");

        openSidebarButton.addEventListener("click", function () {
            sidebar.classList.add("translate-x-0");
        });

        closeSidebarButton.addEventListener("click", function () {
            sidebar.classList.remove("translate-x-0");
        });
    });
    // 
    $(document).ready( function () {
    $('#data-table').DataTable({
        dom: 'Bfrtip',
        buttons: [
          'pdf'
        ],
        order: [[ 0, "asc" ]]
    });
});
</script>
{% endblock %}