<!-- templates/unified_message_form.html -->

{% extends "basedashboard.html" %}
{% block content %}

<div class="grid grid-cols-6">
    <div class=" h-full hidden md:block">
        <!-- <SideBar3 /> -->
        <div class="shadow sticky top-[3.5rem]  pt-5">
            <div class="flex  items-center ml-3">
                <div class="ml-2"><img src="{{ url_for('static', filename='images/list.png') }}" width="24" alt="">
                </div>
                <div class="  ml-4 font-bold text-2xl md:text-xl text-green-600">Menu</div>
            </div>
            <div class="border shadow-xl rounded-lg m-4 h-[37rem]">
                <div class=" gap-4 flex flex-col items-center mt-3 p-2 ">

                    <a href="{{url_for('dashboards.dashboard')}}"> <button
                            class=" md:text-[10px]  lg:text-[16px] flex items-center  justify-center  transition ease-in-out delay-150  hover:-translate-y-1 hover:scale-110 duration-100  
                    font-semibold hover:text-black hover:bg-gray-100  border text-gray-700 bg-gray-100     lg:px-4 lg:p-3 p-1  rounded-lg ">
                            <span class="mr-3 "><img src="{{ url_for('static', filename='images/webpage.png') }}"
                                    width="25" alt=""></span>
                            Dashboard
                        </button></a>




                </div>
            </div>
        </div>
        <!-- <SideBar3 /> -->
    </div>
    <div class="col-span-6 m-5 md:col-span-5 ">
        <!--  -->

        <div id="sidebar"
            class="flex-col z-10 mt-14 md:hidden flex sidebar bg-white text-white w-64 h-full fixed top-0 left-0 transform -translate-x-full transition duration-300 ease-in-out">
            <button id="closeSidebarButton"
                class="ml-[14rem] mt-2 bg-red-500 hover:bg-red-700 h-6 text-white font-bold w-5  rounded">
                X
            </button>
            <div>
                <div class="       shadow  pt-5">
                    <div class="flex  items-center ml-3">
                        <div class="ml-2"><img src="/images/list.png" width="24" alt=""></div>
                        <div class="  ml-4 font-bold text-2xl  text-green-600">Menu</div>

                    </div>
                    <div class="border shadow-xl rounded-lg m-4 h-[37rem]">
                        <div class=" gap-4 flex flex-col  items-center  mt-3  p-2 ">

                            <a href="{{url_for('dashboards.dashboard')}}"> <button
                                    class=" md:text-[10px]  lg:text-[16px] flex items-center  justify-center  transition ease-in-out delay-150  hover:-translate-y-1 hover:scale-110 duration-100  
                            font-semibold hover:text-black hover:bg-gray-100  border text-gray-700 bg-gray-100     lg:px-4 lg:p-3 p-1  rounded-lg ">
                                    <span class="mr-3 "><img
                                            src="{{ url_for('static', filename='images/webpage.png') }}" width="25"
                                            alt=""></span>
                                    Dashboard
                                </button></a>




                        </div>
                    </div>
                </div>
            </div>


        </div>

        <!--  -->
        {% if message %}
        <center class="text-red-400">{{ message }}</center>
        {% endif %}
        <div class="w-full  bg-white p-6 rounded-lg shadow-lg">

            <!--  -->
            <div class="flex gap-4 mb-4 -ml-4 md:ml-0">


                <button id="openSidebarButton"
                    class="md:hidden justify-center items-center flex hover:bg-gray-200 text-white font-bold py-1 px-2 rounded">
                    <div class=" pl-2 hover:w-26"><img src="{{ url_for('static', filename='images/more.png') }}"
                            width="28" alt=""></div>
                </button>
                <!--  -->
                <div class="flex gap-4 mb-4 -ml-4 md:ml-0">


                    <button id="openSidebarButton"
                        class="md:hidden justify-center items-center flex hover:bg-gray-200 text-white font-bold py-1 px-2 rounded">
                        <!-- <div class=" pl-2 hover:w-26"><img src="{{ url_for('static', filename='images/user.png') }}"
                                width="28" alt=""></div> -->
                    </button>
                    <h2 class="text-2xl mt-2 font-semibold ">Send Message</h2>
                </div>
                <!--  -->
            </div>
            <!--  -->

           <center>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }} text-green-500">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
       
           </center>
       
            <div class="container">


              
                <form id="contactForm" method="POST" action="/send_message">
                    {{ form.hidden_tag() }}
                    <div class="mb-4">
                        <label class="block text-[18px] font-semibold ">कृषक/सम्प्रेशकको नाम (Farmer/Submitter’s Name)<span class="text-red-500">*</span> :</label>


                        {{ form.username(class="mt-1 text-[14px] px-2 py-1 w-full  border border-gray-500 rounded-md  focus:ring focus:ring-green-300") }}

                        {% if form.username.errors %}
                        <div class="alert alert-danger text-red-500">
                            {{ form.username.errors[0] }}

                        </div>
                        {% endif %}
                        <p id="usernameError" class="hidden text-red-500 text-sm mt-1">Username must contain only letters.</p>
                    </div>
                    <div class="mb-4">
                        <label class="block text-[18px] font-semibold">सम्पर्क नम्बर (Phone Number) <span class="text-red-500">*</span>:</label>


                        {{ form.phone_number(class="mt-1 text-[14px] px-2 py-1 w-full  border border-gray-500 rounded-md focus:ring focus:ring-green-300") }}

                        {% if form.phone_number.errors %}
                        <div class="alert alert-danger text-red-500">
                            {{ form.phone_number.errors[0] }}
                        </div>
                        {% endif %}
                        <p id="phoneNumberError" class="hidden text-red-500 text-sm mt-1">Phone number should be 10 digits.</p>
                       
                    </div>


                    <div class="mb-4">
                        <label class="block text-[18px] font-semibold">इमेल (Email):</label>

                        {{ form.email(id="email",class="mt-1 px-2 py-1 text-[14px] w-full  border border-gray-500 rounded-md focus:ring focus:ring-green-300") }}
                        {% if form.email.errors %}
                        <div class="alert alert-danger text-red-500">
                            {{ form.email.errors[0] }}
                        </div>
                        {% endif %}

                        <p id="emailError" class="hidden text-red-500 text-sm mt-1">Please select a valid email.</p>
                    
                    
                    </div>

                   

                  


                    <div class="mb-4">
                        <label class="block text-[18px] font-semibold">Host<span class="text-red-500">*</span>:</label>

                        {{ form.host( class="mt-1 px-2 py-1 w-full text-[14px]  border border-gray-500 rounded-md focus:ring focus:ring-green-300",id="host-select") }}
                        {% if form.host.errors %}
                        <div class="alert alert-danger text-red-500">
                            {{ form.host.errors[0] }}
                        </div>
                        {% endif %}
                    </div>

                    <div class="mb-4">
                        <label class="block text-[18px] font-semibold">Contact Method <span class="text-red-500">*</span>:</label>


                        {{ form.contact_method( class="mt-1 px-2 py-1 w-full text-[14px]  border border-gray-500 rounded-md focus:ring focus:ring-green-300") }}
                    </div>
                    <div class="mb-4">
                        <label class="block text-[18px] font-semibold">Recommended Remarks:</label>


                        <select
                            class="mt-1 px-2 py-1 w-full text-[14px]  border border-gray-500 rounded-md focus:ring focus:ring-green-300"
                            id="recommended-signature-select" name="recommended_signature">
                            <option value="" disabled selected>Select Recommended Signature:</option>
                            {% for host in hosts %}
                            <optgroup label="{{ host.value }}">
                                {% for signature in host.signatures %}
                                <option value="{{ signature.id }}">{{ signature.recommended_text }}</option>
                                {# Changed value attribute #}
                                {% endfor %}
                            </optgroup>
                            {% endfor %}
                        </select>

                        {% if form.recommended_signature.errors %}
                        <div class="alert alert-danger">
                            {{ form.recommended_signature.errors[1] }}
                        </div>
                        {% endif %}
                    </div>


                   
                    <div class="mb-4">
                        <label class="block text-[18px] font-semibold">Remarks <span class="text-red-500">*</span>:</label>


                        {{ form.signature( class="mt-1 px-2 py-1 w-full text-[14px]  border border-gray-500 rounded-md focus:ring focus:ring-green-300", id="signature-textarea", placeholder="यहाँ आफ्नो टिप्पणी लेख्नुहोस्") }}
                    </div>

                   

                    <div>
                        {{form.submit(class=" bg-gradient-to-l from-green-600 transition ease-in-out delay-150  hover:-translate-y-1 hover:scale-110 duration-100 bg-green-500 text-white py-2 px-4 rounded focus:outline-none focus:ring focus:ring-green-300")}}

                    </div>

                  
                </form>
            </div>



        </div>

    </div>
</div>







<script>
    const hostSelect = document.getElementById('host-select');
    const recommendedSignatureSelect = document.getElementById('recommended-signature-select');
    const signatureTextarea = document.getElementById('signature-textarea');



    hostSelect.addEventListener('change', function () {
        const selectedHost = hostSelect.value;
        fetch(`/get_recommended_signatures?host_id=${selectedHost}`)
            .then(response => response.json())
            .then(data => {
                // Clear previous options
                recommendedSignatureSelect.innerHTML =
                    '<option value="" disabled selected>Select Recommended Signature</option>';
                data.forEach(item => {
                    const option = document.createElement('option');
                    option.value = item.id; // Changed from item.text to item.id
                    option.textContent = item.text;
                    recommendedSignatureSelect.appendChild(option);
                });
            })
            .catch(error => console.error('Error fetching recommended signatures:', error));
    });

    recommendedSignatureSelect.addEventListener('change', function () {
        const selectedSignature = recommendedSignatureSelect.options[recommendedSignatureSelect.selectedIndex]
            .text;
        signatureTextarea.value = selectedSignature;
    });


    document.addEventListener("DOMContentLoaded", function () {
        const openSidebarButton = document.getElementById("openSidebarButton");
        const closeSidebarButton = document.getElementById("closeSidebarButton");
        const sidebar = document.getElementById("sidebar");
   

        openSidebarButton.addEventListener("click", function () {
            sidebar.classList.add("translate-x-0");
        });

        closeSidebarButton.addEventListener("click", function () {
            sidebar.classList.remove("translate-x-0");
        });


        const contactForm = document.getElementById('contactForm');
        const emailInput = document.getElementById('email'); // Ensure the ID 'email' is correctly set on your email input field
    
        contactForm.addEventListener('submit', function(event) {
            // Get the selected value from the contact method radio buttons
            const contactMethod = document.querySelector('input[name="contact_method"]:checked').value;
            // Check if the email contact method is selected and the email field is empty
            if (contactMethod === 'email' && emailInput.value.trim() === '') {
                event.preventDefault(); // Stop the form from submitting
                alert('Please enter an email address.'); // Alert the user
                return false; // Stop the event here
            }
    
            // Proceed with showing the confirmation dialog
            if (contactMethod === 'email') {
                const confirmEmail = confirm('Do you want to send an email?');
                if (!confirmEmail) {
                    event.preventDefault(); // Optional: you might not need this if confirm returns false it will prevent form
                }
                return confirmEmail; // Return the result of the confirm
            } else if (contactMethod === 'sms') {
                const confirmSms = confirm('Do you want to send an SMS?');
                if (!confirmSms) {
                    event.preventDefault(); // Optional: you might not need this if confirm returns false it will prevent form
                }
                return confirmSms; // Return the result of the confirm
            }
    
            // If the contact method is neither email nor SMS, or the user confirmed, the form will be submitted
            return true;
        });
    
   


        



        
        // Username validation
        document.getElementById('username').addEventListener('input', function(event) {
            const usernameInput = event.target;
            const usernameErrorElement = document.getElementById('usernameError');
            // Allow letters (either uppercase or lowercase) and spaces
            const lettersAndSpaceRegex = /^[A-Za-z\s]+$/;
            
            if (!lettersAndSpaceRegex.test(usernameInput.value)) {
                usernameErrorElement.classList.remove('hidden');
                usernameInput.classList.add('border-red-500');
            } else {
                usernameErrorElement.classList.add('hidden');
                usernameInput.classList.remove('border-red-500');
            }
        });
    

    // Email validation
    document.getElementById('email').addEventListener('input', function(event) {
        const emailInput = event.target;
        const emailErrorElement = document.getElementById('emailError');
        const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        
        if (!emailRegex.test(emailInput.value)) {
            emailErrorElement.classList.remove('hidden');
            emailInput.classList.add('border-red-500');
        } else {
            emailErrorElement.classList.add('hidden');
            emailInput.classList.remove('border-red-500');
        }
    });

    // Phone number validation
    document.getElementById('phone_number').addEventListener('input', function(event) {
        const phoneInput = event.target;
        const phoneErrorElement = document.getElementById('phoneNumberError');
        const phoneRegex = /^\d{10}$/;
        
        if (!phoneRegex.test(phoneInput.value)) {
            phoneErrorElement.classList.remove('hidden');
            phoneInput.classList.add('border-red-500');
        } else {
            phoneErrorElement.classList.add('hidden');
            phoneInput.classList.remove('border-red-500');
        }
    });

  

    });
</script>
{% endblock content %}

<!--  -->